@import '../../_variables.scss';

.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filter-container {
	display: flex;
}

.filters, .search {
	display: flex;
	flex-direction: column;
	margin: 0 2em;
}

.selected {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.selected img, .search img {
	height: 22px;
	margin: 0 7px;
}

select, .search-input {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	color: $darkGrey;
	text-align-last: center;
}

.search {
	display: flex;
	flex-direction: row;
}

.search-input {
	border: none;
	border-bottom: 1px solid $darkGrey;
	height: 25px;
}