@import '../../_variables.scss';

.table-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.table {
	border: $red 2px solid;
	width: 100%;
}

.table-head tr th {
	background-color: $red;
}

tr:nth-child(even) {
	background-color: $lightGrey;
}

td {
	padding: 0 1em;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	height: 3em;
}

button {
	font-family: 'Overpass', sans-serif;
	font-size: 1.1em;
	color: $darkGrey;
	background: $red;
	outline: none;
	border: none;
	margin: 10px;
	width: fit-content;
}