@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

// font-family: 'Overpass', sans-serif;
// font-family: 'Permanent Marker', cursive;

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	margin: 0;
}