@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

$red: #EF626C;
$darkGrey: #292929;
$lightGrey: #E0E0E0;
$teal: #00CECB;
$yellow: #FFED66;

body {
	font-family: 'Overpass', sans-serif;
	color: $darkGrey;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	margin: 0;
	color: $red;
}

h2 {
	font-size: 2em;
}

h2, h3 {
	margin: 0 1em;
}