@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

$red: #FF5E5B;
$darkGrey: #292929;
$lightGrey: #D8D8D8;
$teal: #00CECB;
$yellow: #FFED66;

body {
	font-family: 'Overpass', sans-serif;
	color: $darkGrey;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	margin: 0;
	color: $red;
}